In [5]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T

In [6]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
spark.range(500).show(2)  # .toDF("number")

+---+
| id|
+---+
|  0|
|  1|
+---+
only showing top 2 rows

In [9]:
df = spark.range(500).toDF("number")
df.show(2)

+------+
|number|
+------+
|     0|
|     1|
+------+
only showing top 2 rows

In [11]:
df2 = df.select(F.col("number") + F.lit(10)).toDF("new_number")
df2.show()

+----------+
|new_number|
+----------+
|        10|
|        11|
|        12|
|        13|
|        14|
|        15|
|        16|
|        17|
|        18|
|        19|
|        20|
|        21|
|        22|
|        23|
|        24|
|        25|
|        26|
|        27|
|        28|
|        29|
+----------+
only showing top 20 rows

In [17]:
df2 = df.withColumn(
    "new_number", 
    F.col("number") + F.lit(10)
)
df2.show()

+------+----------+
|number|new_number|
+------+----------+
|     0|        10|
|     1|        11|
|     2|        12|
|     3|        13|
|     4|        14|
|     5|        15|
|     6|        16|
|     7|        17|
|     8|        18|
|     9|        19|
|    10|        20|
|    11|        21|
|    12|        22|
|    13|        23|
|    14|        24|
|    15|        25|
|    16|        26|
|    17|        27|
|    18|        28|
|    19|        29|
+------+----------+
only showing top 20 rows

In [21]:
collected = df2.collect()[:3]
print(collected)

[Row(number=0, new_number=10), Row(number=1, new_number=11), Row(number=2, new_number=12)]

In [23]:
print([(row.number, row.new_number) for row in collected])

[(0, 10), (1, 11), (2, 12)]

In [25]:
bytetype = T.ByteType()
print(bytetype)
print(type(bytetype))

ByteType()
<class 'pyspark.sql.types.ByteType'>